@model MvcKutuphane.Models.Entity.TBLADMİN
@{
    ViewBag.Title = "AdminDuzenle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br /><br /><br />
<div class="text-center my-4">
    <h2 class="fw-bold text-primary">Admin Güncelleme Sayfası</h2>
</div>

@using (Html.BeginForm("AdminDuzenle", "Ayarlar", FormMethod.Post))
{
    <div class="p-4 border rounded shadow-sm bg-light" style="max-width: 600px; margin: auto;">
        <div class="mb-3">
          <label class="fw-bold">ID</label>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control", })
        </div>
        <div class="mb-3">
            <label class="fw-bold">Kullanıcı Adı</label>
            @Html.TextBoxFor(x => x.Kullanici, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label class="fw-bold">Şifre</label>
            @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label class="fw-bold">Yetki</label>
            @Html.TextBoxFor(x => x.Yetki, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary w-100 fw-bold">Admin Güncelle</button>
    </div>
}

